<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mushroom Classifier</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <div class = select-boxes>
        <style>
            select {
                width: 150px;
                margin: 10px;
            }
            select:focus {
                min-width: 150px;
                width: auto;
            }
        </style>
    </div>
</head>

<body>
    <h1>MUSHROOM CLASSIFIER</h1>
    <img style="height: 140px;" src="{{ url_for('static', filename='images/mushroom-dance-mushroom.gif') }}"/>
    <p>
        Is your mushroom safe to eat? Fill out the form to find out!
    </p>

    <form action="{{ url_for('predict')}}" class="mushroom-block" method = "post" style="background-color: #edede9;">
        <fieldset>
            <div class = "mushroom-qualities">
                <label for="cap-color">Cap Color:</label>
                <select name="cap-color" id = "cap-color" required = True>
                    <option value="" disabled selected></option>
                    <option value="brown">brown</option>
                    <option value="buff">buff</option>
                    <option value="gray">gray</option>
                    <option value="green">green</option>
                    <option value="pink">pink</option>
                    <option value="purple">purple</option>
                    <option value="red">red</option>
                    <option value="white">white</option>
                    <option value="yellow">yellow</option>
                </select>
            </div>
            <div class = "mushroom-qualities">
                <label for="odor">Odor:</label>
                <select name="Odor" id = "Odor" required = True>
                    <option value="" disabled selected></option>
                    <option value="almond">almond</option>
                    <option value="anise">anise</option>
                    <option value="creosote">creosote</option>
                    <option value="fishy">fishy</option>
                    <option value="foul">foul</option>
                    <option value="musty">musty</option>
                    <option value="none">none</option>
                    <option value="pungent">pungent</option>
                    <option value="spicy">spicy</option>
                </select>
            </div>
            <div class = "mushroom-qualities">
                <label for="gill-color">Gill Color:</label>
                <select name="gill-color" id = "gill-color" required = True>
                    <option value="" disabled selected></option>
                    <option value="black">black</option>
                    <option value="brown">brown</option>
                    <option value="buff">buff</option>
                    <option value="chocolate">chocolate</option>
                    <option value="gray">gray</option>
                    <option value="green">green</option>
                    <option value="orange">orange</option>
                    <option value="pink">pink</option>
                    <option value="purple">purple</option>
                    <option value="red">red</option>
                    <option value="white">white</option>
                    <option value="yellow">yellow</option>
                </select>
            </div>
            <div class = "mushroom-qualities">
                <label for="population">Population:</label>
                <select name="population" id = "population" required = True>
                    <option value="" disabled selected></option>
                    <option value="abundant">abundant</option>
                    <option value="clustered">clustered</option>
                    <option value="numerous">numerous</option>
                    <option value="scattered">scattered</option>
                    <option value="several">several</option>
                    <option value="solitary">solitary</option>
                </select>
            </div>
            <div class = "mushroom-qualities">
                <label for="habitat">Habitat:</label>
                <select name="habitat" id = "habitat" required = True>
                    <option value="" disabled selected></option>
                    <option value="grasses">grasses</option>
                    <option value="leaves">leaves</option>
                    <option value="meadows">meadows</option>
                    <option value="paths">paths</option>
                    <option value="urban">urban</option>
                    <option value="waste">waste</option>
                    <option value="woods">woods</option>
                </select>
            </div>
            <br>
            <br>
            <h3 style="text-align: center">
            {{ prediction_text }}</h3>
            <h3 style="text-align: center">
                {{ accuracy }}</h3>
            <div style="text-align: center"><p>
                <button type="submit" class="btn btn-primary btn-block btn-large">Determine Edibility</button></p>
            </div>
            <div class= "signature">
                <label for="andrew">Created by Andrew Nguyen, 2022</label>
            </div>
        </fieldset>
    </form>

    <a href="https://github.com/AndrwNgyn/mushroom-classification">[project source code]</a>

</body>