@font-face {
    font-family: 'Karla';
    src: url('Fonts/Karla-VariableFont_wght.ttf');
    font-weight: 'Variable';
}

@font-face {
    font-family: 'Karla';
    src: url('Fonts/Karla-Italic-VariableFont_wght.ttf');
    font-weight: 'Italic';
}

body {
    height: 115vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #bfb4bb;
    background: -webkit-linear-gradient(
        to bottom, 
        #bfb4bb,
        #cdb4db
    );
    background: linear-gradient(
        to bottom, 
        #bfb4bb,
        #cdb4db
    );
}



h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 'Italic';
    font-size: 27px;
    margin: 0
}

h3 {
    font-family: 'Karla', sans-serif;
    font-weight: 'Variable';
    font-size: 18px;
    margin: 0
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 'Variable';
    font-size: 18px;
}

a {
    font-family: 'Karla', sans-serif;
    font-weight: 'Variable';
    font-size: 13px;
}


select {
    font-family: 'Karla', sans-serif;
    font-weight: 'Variable';
    font-size: 15px;
    
}

button {
    font-family: 'Karla', sans-serif;
    font-weight: 'Variable';
    font-size: 15px;
}

.mushroom-block{
    float: right;
}

.mushroom-qualities{
    font-family: 'Karla', sans-serif;
    font-weight: 'Variable';
    font-size: 15px;
}

.signature{
    font-family: 'Karla', sans-serif;
    font-weight: 'Variable';
    font-size: 10px;
}